$color-primario:#6c757d;
footer{
    Border-top: 2px solid $color-primario;
    background-color: #fbfbff;

    h2{
        Border-top: 2px solid RED;
        text-align: center;
        font-size: 20px;
    }

    section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "redes eventos";
    }

}

    .redes{
    grid-area: redes;
    margin-left: 140px;

    
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        font-size: 20px;

        &:hover{
            color:$color-primario;

        }
    }
}

    .eventos{
        grid-area: eventos;
        margin-right:140px;
        a{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: black;
            font-size: 20px;
    
            &:hover{
                color: gray;
    
            }
        }
    }

    @media screen and (max-width:700px){
        .eventos{
            grid-area: eventos;
            margin-right:40px;
    }

    .redes{
        grid-area: redes;
        margin-left: 40px;

    }
    }

    @media screen and (max-width:400px){

        footer{
            Border-top: 2px solid #6c757d;
            background-color: #f5f3f4;
        
            h2{
                Border-top: 2px solid #6c757d;
                text-align: center;
                font-size: 10px;
            }   

        .redes{
            grid-area: redes;
            margin-left: 10px;
        
            
            a{
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: black;
                font-size: 20px;
        
                &:hover{
                    color: gray;
        
                }
            }
        }
        
            .eventos{
                grid-area: eventos;
                margin-right:10px;
                a{
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
            
                    &:hover{
                        color: gray;
            
                    }
                }
            }
    }
    
    }